[user]
	name = Fatih Yildiz
	email = fatih@mfyz.com

[color]
	ui = auto

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true

[log]
	# Use abbrev SHAs whenever possible/relevant instead of full 40 chars
	abbrevCommit = true

[mergetool]
	# Clean up backup files created by merge tools on tool exit
	keepBackup = false

	# Auto-accept file prompts when launching merge tools
	prompt = false

[status]
	showUntrackedFiles = all

[core]
	excludesfile = /Users/yildizf/.gitignore
